body {
  font-family: 'Chilanka';
}
.top_header span {
  color: #908F8D;
  font-family: 'Montserrat';
}
.top_header input::placeholder {
  color: #908F8D;
font-family: 'Montserrat';
  }
.contacts-for-header {
  color: #41403E;
  font-size: 19px;
  letter-spacing: 0.19px;
  text-decoration: none;
}
.bottom_header {
  color: #41403E;
  font-size: 19px;
  letter-spacing: 0.19px;
}
.bottom_header ul li a {
  color: #41403E;
  text-decoration: none;
}
.promotions-for-slider {
  color: #DEAD6F;
  font-family: 'Montserrat';
  font-size: 18px;
  letter-spacing: 1.8px;
}
.carousel-caption h2 {
  color: #41403E;
  font-size: 88px;
  font-style: normal;
  letter-spacing: 2.64px;
  width: 700px;
}
.carousel-caption h2 span {
  color: #DEAD6F;
  font-size: 88px;
  letter-spacing: 2.64px;
}
 button {
  color: #41403E;
  font-size: 19px;
  letter-spacing: 0.38px;
}
.shops a {
  color: #41403E;
  font-size: 26px;
  letter-spacing: 0.26px;
  text-decoration: none;
}
.container h3 {
  color: #41403E;
  font-size: 55px;
  letter-spacing: 0.55px;
}
.container h4 {
  color: #41403E;
  font-size: 26px;
  letter-spacing: 0.26px;
  width: 410px;
}
.price {
  color: #DEAD6F;
  font-family: 'Montserrat';
  font-size: 26px;
  font-weight: 300;
  letter-spacing: 0.26px;
}
.button-for-catalogs {
  font-size: 17px;
  letter-spacing: 0.34px;
}
.nav-for-pet-foodies a {
  color: #41403E;
  font-size: 17px;
  letter-spacing: 0.34px;
  text-decoration: none;
}
.promotion-for-banner {
  color: #DEAD6F;
  font-family: 'Montserrat';
  font-size: 36px;
  font-weight: 300;
}
.banner-sale-caption h2 {
  color: #41403E;
  font-size: 75px;
  letter-spacing: 1.5px;
  width: 300px;
}
.reviews-caption {
  color: #908F8D;
  font-size: 36px;
  line-height: 150%; /* 54px */
  width: 850px;
}
.reviews-caption span {
  color: #41403E;
  font-family: 'Montserrat';
  font-weight: 500;
}
.container-full-weight h3 {
  color: #41403E;
  text-align: center;
  font-size: 55px;
  letter-spacing: 0.55px
}
.h-for-registration {
  width: 500px;
}
.registration input::placeholder {
  color: #908F8D;
  font-size: 17px;
  letter-spacing: 0.34px;
  }
.discount-for-first-purchase {
  color: #DEAD6F;
}
.registration button {
  color: #FFF;
  font-size: 19px;
  letter-spacing: 0.38px;
}
.blog-posts p {
  color: #908F8D;
  font-family: 'Montserrat';
  font-size: 16px;
  width: 410px;
}
.blog-posts a {
  color: #908F8D;
  font-size: 16px;
  letter-spacing: 0.32px;
  text-decoration: none;
}
.informations p {
  color: #908F8D;
  font-family: 'Montserrat';
  font-size: 16px;
  width: 300px;
}
footer .container p {
  color: #908F8D;
  font-family: 'Montserrat';
  font-size: 16px;
  width: 300px;
  }
  .top_footer ul li a{
    color: #41403E;
    font-size: 19px;
    line-height: 150%; /* 28.5px */
    letter-spacing: 0.19px;
    text-decoration: none;
  }
.bottom_Our-Newsletter input::placeholder {
  color: #908F8D;
  font-family: 'Montserrat';
}